In [1]:
import pymongo
import pandas as pd
import numpy as np
import json
import warnings
from pandas.io.json import json_normalize
warnings.filterwarnings('ignore')

# 데이터 불러오기

In [9]:
df = pd.read_json('dataengineer.json',lines=True)

In [10]:
df.head()

,Date Captured,Education,Experience,Industry Knowledge,Interpersonal Skills,Job Title,Languages,Location,Other Skills,Profile Summary,ProfileID,Skills & Endorsements,Tools & Technologies,_id
0,2019-11-12,"[{'School': 'University of Washington', 'Degre...","[{'Job Title': 'Senior Data Engineer', 'Compan...","[{'Skills': 'Research'}, {'Skills': 'Data Anal...",NaN,Senior Data Engineer at Change Healthcare,NaN,San Francisco Bay Area,"[{'Skills': 'Apache Pig'}, {'Skills': 'Apache ...",As a software engineer at an research and deve...,jilliankim,"[{'Skills': 'Apache Spark'}, {'Skills': 'Apach...","[{'Skills': 'Java'}, {'Skills': 'HBase'}, {'Sk...",{'$oid': '5dca1376f68f858820733c99'}
1,2019-11-12,"[{'School': 'Korea University', 'Degree': 'Doc...","[{'Job Title': 'Director of Research', 'Compan...","[{'Skills': 'Algorithms'}, {'Skills': 'Big Dat...",NaN,Sr. Principal Data Engineer at Coupang Global ...,NaN,San Francisco Bay Area,"[{'Skills': 'Data Processing'}, {'Skills': 'La...",Specialties: * Query evaluation techniques in ...,hyunsikchoi,"[{'Skills': 'Hadoop'}, {'Skills': 'Distributed...","[{'Skills': 'Open Source'}, {'Skills': 'Java'}...",{'$oid': '5dca1380f68f858820733c9b'}
2,2019-11-12,"[{'School': 'University of Virginia', 'Degree'...","[{'Job Title': 'Data Engineer', 'Company': 'Pl...",NaN,NaN,Data Engineer at PlayStation,NaN,"Los Angeles, California",NaN,,rui-deng-b7b37714a,"[{'Skills': 'Python (Programming Language)'}, ...",NaN,{'$oid': '5dca13b2f68f858820733c9d'}
3,2019-11-12,"[{'School': 'University of California, Berkele...",[{'Job Title': 'Senior Site Reliability Engine...,"[{'Skills': 'Web Applications'}, {'Skills': 'W...",NaN,Architect / Data engineer,NaN,"Berkeley, California","[{'Skills': 'Memcached'}, {'Skills': 'Google A...","Energetic and motivating, those are the two wo...",seungjoonlee1984,"[{'Skills': 'JavaScript'}, {'Skills': 'Python'...","[{'Skills': 'Java'}, {'Skills': 'JSON'}, {'Ski...",{'$oid': '5dca13bff68f858820733c9f'}
4,2019-11-12,"[{'School': 'Flatiron School', 'Degree': ' Dat...","[{'Job Title': 'Data Scientist Student', 'Comp...","[{'Skills': 'Web Development'}, {'Skills': 'An...",[{'Skills': 'Written Communication'}],Data Scientist and ML Engineer,NaN,Greater Seattle Area,"[{'Skills': '모바일앱'}, {'Skills': 'C++ Language'...",Machine learning engineer and data scientist w...,taeho-jeon-78418870,"[{'Skills': 'iOS development'}, {'Skills': 'Ja...","[{'Skills': 'swift'}, {'Skills': 'Objective-C'...",{'$oid': '5dca13caf68f858820733ca1'}

In [11]:
df['Education'][0]

[{'School': 'University of Washington',
  'Degree': 'Biochemistry Applied Mathematics/Chemistry minor ',
  'Date Attended': '2008 ? 2013'},
 {'School': 'University of Washington', 'Degree': '  ', 'Date Attended': ''}]

# 불필요한 열 삭제

In [12]:
null_list = ['_id', 'Profile Summary', 'Date Captured', 'Languages']

print(data.columns)
df.drop(null_list, axis = 1, inplace=True)
df.columns

Index(['Date Captured', 'Education', 'Experience', 'Industry Knowledge',
       'Interpersonal Skills', 'Job Title', 'Languages', 'Location',
       'Other Skills', 'Profile Summary', 'ProfileID', 'Skills & Endorsements',
       'Tools & Technologies', '_id'],
      dtype='object')

Index(['Education', 'Experience', 'Industry Knowledge', 'Interpersonal Skills',
       'Job Title', 'Location', 'Other Skills', 'ProfileID',
       'Skills & Endorsements', 'Tools & Technologies'],
      dtype='object')

# 중복 제거

In [13]:
print(df.shape)
df = df.drop_duplicates('ProfileID')
print(df.shape)

(1008, 10)
(799, 10)

#  ProfileID -> ID열 생성